body {
  background-image: url(background.png);
  object-fit: contain;
}
.container {
  width:1200px;
  margin: 20 auto;
}

.content {
  float:left;
  width:800px;
}

  .grid {
    float:left;
    width: 800px;
    height: 800px;
    margin: 20 auto;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }

  .grid div {
    width: 38px;
    height: 38px;
    border: 1px rgb(2, 59, 7) dotted;
	  float: left;
  }

.secondary {
  float:right;
  margin: 20 auto;
  width:300px;
  height:600px;
  font-family: 'Papyrus', monospace;
    font-size: 20px;
  border:6px rgb(117, 81, 10) dashed;
  background-color: #b38f6f7c;
}
  
  .scoreboard {
    width:250px;   
    margin: 20px auto;
    height: 400px;
    color: #000000; /* White text */
    font-family: 'Papyrus', monospace;
    font-size: 30px;
    padding: 20px; 
  }

  .buttonGroup {
	display: flex;
	align-items: center;
	justify-content: center;
  width:250px;
  height:200px;
  
  }
  .btn {
    padding: 10px;
    font-family: 'Papyrus', monospace;
    font-size: 15px;
    border: 2px rgb(152, 125, 66) solid;
    background-color: rgb(249, 209, 169);
    margin: 10px; 
  }
	  
	.btn:hover {
		background-color: rgb(136, 124, 108)
  }

.footer {
  clear:both;
}
  

.Yhead {
  background-image: url(snakehead1.png);
  width: 100%;
  height: 100%;
  object-fit:contain;
	}
  
.Ybody {
  background-image: url(snakebody1.png); 
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.red {
	background-image: url(apple.png); 
  width: 100%;
  height: 100%;
  object-fit:contain;
	}

.brown {
  background-image: url(wood.jpg); 
  width: 100%;
  height: 100%;
  object-fit: contain;
  }

.Rhead {
  background-image: url(snakehead2.png); 
  width: 100%;
  height: 100%;
  object-fit: contain;
	}

.Rbody {
  background-image: url(snakebody2.png); 
  width: 100%;
  height: 100%;
  object-fit: contain;
}
  
.grass {
	background-image: url(grass1.jpg); 
  object-fit: contain;
	}

.grass1 {
  background-image: url(grass2.jpg); 
  object-fit: contain;
}